<html>
    <head>
        <title>Greeter</title>
    </head>
    <body>
        {% if name %}
        <h1>Hello {{ name }}!</h1>
        {% else %}
        <h1>Hello, World!</h1>
        {% endif %}
        <form>
            <label for="userName">Your Name</label><br>
            <input type="text" id="userName" name="userName"><br>
        </form>
        <input id="run" type="button" value="Hello" onClick="greetUser();" />
        {% if dataframe %}
        <table>
            <tr>
                <th>Date</th>
                <th>Region</th>
                <th>Repossesions</th>
            </tr>
            {% for row in dataframe %}
            <tr>
                <td>{{row.date}}</td>
                <td>{{row.RegionName}}</td>
                <td>{{row.SalesVolume}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    <script>
        function greetUser(){
            var queryText = document.getElementById("userName").value;
            window.location.href = `${window.location.origin}/${queryText}`;
        }
    </script>
    </body>
</html>
