<html>
    <head>
        <title>Tabular Results</title>
    </head>
    <body>
        <form>
            <label for="dateFilter">Date String filter</label><br>
            <input type="text" id="dateFilter" name="dateFilter"><br>
        </form>
        <input id="run" type="button" value="Query" onClick="runQuery();" />
        {% if dataframe %}
        <table style="width:100%">
            <tr>
                {% for header in dataframe[0].keys() %}
                <th>{{header}}</th>
                {% endfor %}
            </tr>
            {% for row in dataframe %}
            <tr>
                {% for value in row.values() %}
                <td>{{value}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    <script>
        function runQuery(){
            var queryText = document.getElementById("dateFilter").value;
            window.location.href = `${window.location.origin}/${queryText}`;
        }
    </script>
    </body>
</html>
